body{
    margin: 0px;
    padding: 0px;
}

.container{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

*{
    list-style: none;
}

.name{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.row {
}
.rightMain{
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
}

.leftMain{
    text-align: right;
    padding-right: 50px;
    padding-top: 50px;
}

div > h3 {
    margin: 10px;
    padding-bottom: 20px
}

.socialMedia {
    text-align: center;
}
.socialMedia > i {
    font-size: 50px;
    margin: 25px;
}
